/*CSS POUR LA DATATABLE*/
.datatable-pauseter thead th{
    background-color: black;
    border-spacing:0px !Important;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
}
.datatable-pauseter tbody td{
    /*font-weight: bold;*/
    padding-top: 5px;
   padding-bottom: 5px;
    color:white;
     text-align: center;
}
.datatable-pauseter tbody td img{
    width: 37px;
        height: 20px;
}

.datatable-pauseter tbody tr td:nth-child(4){
    color:gold !Important;
}
table {
display: table;
border-collapse: separate;
border-spacing: 0px;
border-color: gray;
margin-right: 10px;
}
body{
    margin:0px !Important;
    margin-right: 10px;
    font-size: 1.4em;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #084b96;
}
.datatable-pauseter tr.odd{background-color: #084b96}
.datatable-pauseter tr.even{background-color: #0a1e61}

/*CSS POUR LE BLOCK D'INFORMATION*/
#message-ter{
    width:100%;
    background-color: #B42177;
    color: white;
    margin-right: 10px;
}
#message-ter div{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 4px;
    
}
#datatable-horaire_processing{
    height: 0px !Important;
}
/*CSS POUR LE BLOCK QUESTION*/
#dialog-question{
    position: absolute;
    max-height: 300px;
    top: 370px;
    margin-left: 5%;
    margin-right: 5%;
    float:right;
    width: 90%;
    z-index: 999;
    background-color: #fff884;
}
#logo-pauseter{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    width:907px;
    
}
#logo{
    position:relative;
    top:-200px;
    margin-left: 50px;
    float: right;
    width:100px;
    height:100px;
    margin-top: -150px;
}
#textQuestion{
    position:relative;
    float:left;
    color:gray;
    margin-left: 30px;
    margin-right: 200px;
    font-size: 1.2em;
    width: 80%;
}
#textInfo{
    color:grey;
    margin-left: 100px;
    font-size: 1.2em;
    margin-top: -20px;
}
#textInfo span{
    color:blue;
}

#Erreur{
    color:white;
    background-color: red;
    text-align: center;
}