/*CSS POUR LA DATATABLE*/
.datatable-pauseter thead th{
    background-color: black;
    border-spacing:0px !Important;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
}
.datatable-pauseter tbody td{
    /*font-weight: bold;*/
    padding-top: 2px;
   padding-bottom: 2px;
    color:white;
     text-align: center;
}
/*.col-jaune{
    color:gold !Important;
}*/
.datatable-pauseter tbody tr td:nth-child(4){
    color:gold !Important;
}
table {
display: table;
border-collapse: separate;
border-spacing: 0px;
border-color: gray;
margin-right: 10px;
}
body{
    margin:0px !Important;
    margin-right: 10px;
    font-size: 1.5em;
    font-family: Verdana, Geneva, sans-serif;
}
.datatable-pauseter tr.odd{background-color: #084b96}
.datatable-pauseter tr.even{background-color: #0a1e61}

/*CSS POUR LE BLOCK D'INFORMATION*/
#message-ter{
    width:100%;
    background-color: #B42177;
    color: white;
    margin-right: 10px;
}
#message-ter div{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 4px;
    
}

/*CSS POUR LE BLOCK QUESTION*/
#question-pauseter{
    position: absolute;
    height:450px;
    top: 150px;
    margin-left: 5%;
    margin-right: 5%;
    float:right;
    width: 90%;
    z-index: 999;
    background-color: #fff884;
}