@import url(http://fonts.googleapis.com/css?family=Ruluko);

/* general */
html { 
    margin:0;
    padding:0;
    background: url(../img/backgrounds/5.jpg) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
}

html, body {
    height: 100%;
}
.container-fluid {
    margin: 0 auto;
    height: 100%;
    padding: 20px 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.columns {
    height: 100%;   
}

.content-area, .article-tree{
    height: 100%;
}

*, h1, h2, h3, h4, h5, h6  {
    font-family: 'Ruluko', sans-serif;
}
h2 {
    border-left: 5px solid #e3001b;
    padding-left: 10px;
    color: white;
}

hr {
    border-top: 1px gray dotted;
}
body {
    background: none;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
}
/* jumbotron */
.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 20px;
}

/* boutons */
.btn {
    background-color: rgba(0, 0, 0, 0.7);
}

/* navbar */

.nav {
    color: black;
    text-shadow: none ;
}

.navbar {
    border: 0px solid white;
}
.navbar-inner {
    background: none !important; 
    border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.nav .active > a {
    background: #e3001b !important; 
    color: white !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.nav > li > a {
    color: black !important;
    text-shadow: none !important;
}

.nav > li > a:hover {
    color: white !important;
    background-image: none !important;
    background-color: red !important;
}
.nav > li {
    border: 0px solid white;
}

/* page principale */

/* footer */
#footer{
    border-top: 1px dotted gray;
    padding : 20px;
    margin-top: 20px;

}

#footer h2 {
    border-style: none;
    border-bottom : 1px dotted gray;
    font-size: medium;
    padding: 0px;
    margin:0px;
    margin-bottom : 10px;
    padding-bottom: 10px;
}